.header {
    background-color: #c1c1c1;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.btn{
    background-color:#da8787;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}